$bodyText: 16px/26px "Montserrat";
$comonText: 11px/15px "Montserrat";

$darkViolet: #162345;
$red: #DA2328;
$dark: #131313;
$grey: #4E4E4E;
$lightGrey: #B9B9B9;
$bg-light: #F6F6F6;

.cardPage__body {
    background: $bg-light;
}

.cardPage__main {
    width: 1240px;
    margin: 0 auto;
}
.cardPage__route {
    color: $lightGrey;
    font: 12px/16px "Montserrat";
    padding: 39px 0 38px 0;
    display: flex;
    align-items: center;
}

main {
    padding: 148px 0 0 0;
}

.cardProd {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardProd__img {
    width: 548px;
    height: 548px;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;

    img {
        margin: 23px 0 0 0;
    }
    .cardProd__img__counter {
        font: 42px/51px "Montserrat";
        font-weight: 300;
        color: $lightGrey;
        position: absolute;
        bottom: 16px;
        left: 20px;
    }
    .cardProd__img__counter span {
        font-size: 20px;
    }
}

.cardProd__butt {
    width: 56px;
    height: 56px;
    background: white;
    border-radius: 50%;
    box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.05), 0px 0px 14px rgba(0, 0, 0, 0.05);
    color: $darkViolet;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    margin: -28px 0 0 0;
    cursor: pointer;
}
.cardProd__butt_left {
    left: 13px;
}
.cardProd__butt_right {
    left: 471px;
}
.cardProd__butt__circle {
    width: 46px;
    height: 46px;
    border: 0.2px solid $lightGrey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardProd__textBlock {
    width: 603px;
    
    h1 {
        margin: 20px 0 0 0;
        font: 32px/39px "Montserrat";
        font-weight: 600;
        color: $dark;
    }
    .cardProd__textBlock__oldPrice {
        text-decoration: line-through;
        font: 32px/39px "Montserrat";
        font-weight: 300;
        color: $lightGrey;
        margin: 0 10px 0 0;
    }
    .cardProd__textBlock__price {
        font: 42px/51px "Montserrat";
        font-weight: 300;
        color: $dark;
    }
}

.wrapper-cardProd__counter {
    display: flex;
    align-items: center;
    margin: 80px 0 0 0;
}

.cardProd__counter {
    width: 105px;
    height: 40px;
    display: inline-flex;
    font: 14px/17px "Montserrat";
    letter-spacing: 0.1em;
    font-weight: bold;
    margin: 0 22px 0 0;

    .cardProd__counter__change {
        width: 33%;
        background: $darkViolet;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .cardProd__counter__change_minus {
        border-radius: 10px 0 0 10px;
    }
    .cardProd__counter__change_plus {
        border-radius: 0 10px 10px 0;
    }
    .cardProd__counter__quantity {
        width: 34%;
        border: 1px solid $darkViolet;
        text-align: center;
        line-height: 40px;
    }
}

.cardProd__textBlock__row {
    display: flex;
    justify-content: space-between;
}
.wrapper-cardProd__textButts {
    margin: 48px 0 40px 0;
}
.cardProd__textButt {
    width: 288px;
    height: 60px;
    border-radius: 10px;
}
.cardProd__textButt_inBucket {
    background: $darkViolet;
    color: white;
}
.cardProd__textButt_1click {
    color: $dark;
    border: 1px solid $dark;
    background: none;
}
.cardProd__textButt i {
    padding: 0 10px 0 0;
}
.cardProd__textBlock__row__item {
    width: 165px;
    font: 12px/16px "Montserrat";

    i {
        width: 61px;
        height: 61px;
        color: white;
        color: $darkViolet;
        font-size: 30px;
        border-radius: 50%;
        box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.05);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 15px 0;
    }
    p {
        font: 16px/26px "Montserrat";
        color: $dark;
        font-weight: bold;
        margin: 0 0 10px 0;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        padding: 0 0 6px 0;
    }
    li {
        list-style-type: none;
    }
    li::before {
        width: 5px;
        display: inline-block;
        color: $darkViolet;
        content: "\25cf";
        padding-right: 15px;
    }
    img {
        padding: 0 10px 0 0;
    }
}
.cardProd__buttons {
    margin: 85px 0 0 0;
    position: relative;
    width: 100%;
    background: white;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.cardProd__buttons__butt {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font: 14px/17px "Montserrat";
    font-weight: bold;
    color: $dark;
    transition: 0.4s;
    border-radius: 10px;
}
.cardProd__buttons__butt_active {
    background: $darkViolet;
    color: white;
}
.cardProd__buttons__content {
    width: 816px;
    margin: 85px auto 40px auto;
    font: $bodyText;
}
.cardProd__buttons__description {
    display: none;
}
.cardProd__buttons__description h3 {
    margin: 0 0 43px 0;
}
.cardProd__buttons__review {
    display: flex;
    margin: 0 0 80px 0;
}
.cardProd__buttons__review__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 25px 0 0;
    flex: 0 0 auto;
}
.cardProd__buttons__review__avatar_none {
    background: $lightGrey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: $lightGrey;
}
.cardProd__buttons__review__date {
    font: 12px/16px "Montserrat";
    color: $grey;
}
.cardProd__buttons__review__name {
    font: 20px/24px "Montserrat";
    margin: 0 0 15px 0;
    font-weight: bold;
    color: $dark;
}
.cardProd__buttons__review__text {
    font: 16px/26px "Montserrat";
    color: $grey;
}

//---------------------------------FORM----------------------
.cardProd__buttons__reviews__form {
    margin: 0 0 15px 0;
}
.form__label_dark{
    color: $dark;
}
.form__inputItem_392px {
    width: 392px;

    input {
        width: 342px;
    }
}

.form__textarea {
    width: 100%;
    height: 90px;
    border: 0;
    padding: 10px 28px 5px 28px;
    box-sizing: border-box;
    box-shadow: 10px 20px 45px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    outline: none;
    font-family: "Montserrat";
    font-size: 16px;
    resize: none;
}
.form__textarea::placeholder {
    opacity: 0.5;
}
.cardProd__buttons__reviews__form__title {
    text-align: center;
    margin: 0;
}
.form__sendButt {
    width: 288px;
    height: 60px;
    background: $darkViolet;
    margin: 38px auto 0 auto;
}
//---------------------------------------------------------------

//-------------------SIMILAR BLOCK------------------------
.similarBlock {
    width: 100%;
    background: white;
    height: 800px;
    padding: 60px 0 0 0;
}
.similarBlock__title {
    text-align: center;
    //margin: 73px 0;
    font: 54px/54px "Bebas Neue";
    font-weight: bold;
}
.similarBlock__cards {
    display: flex;
    justify-content: center;
    margin: 78px 0 0 0;
}
//---------------------------------------------------------------

//-------------------teaserCard------------------------
.teaserCard {
    width: 288px;
    height: 545px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.teaserCard__labels {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 0;
}
.teaserCard__label {
    padding: 0 0 13px 0;
}
.teaserCard__img {
    margin: 58px 0 0 0;
    height: 229px;
}
.teaserCard__title {
    font: 16px/22px "Montserrat";
    font-weight: 600;
    text-align: center;
    margin: 32px 0 60px 0;
}
.teaserCard__priceBlock {
    height: 73px;
    width: 100%;
    background: $bg-light;
    display: flex;
    align-items: center;
    justify-content: center;
}
.teaserCard__priceBlock__oldPrice {
    font: 20px/24px "Montserrat";
    text-decoration-line: line-through;
    color: $lightGrey;
    margin: 0 20px 0 0;
}
.teaserCard__buyBlock {
    width: 100%;
    height: 50px;
    border-radius: 0 0 10px 10px;
    border: 1px solid $darkViolet;
    display: flex;
    justify-content: space-between;
}
.teaserCard__buyBlock__text {
    width:50%;
    font: 12px/15px "Montserrat";
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $darkViolet;
}
.teaserCard__buyBlock__butt {
    width: 50%;
    background: $darkViolet;
    color: white;
    border-radius: 0 0 10px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 12px/15px "Montserrat";
}




